.car1
{
	 position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 20px;}
.link3
{
    text-decoration: none;
    color: black;


}
.link3:hover
{
    
    color: grey;
    

}

.checked {
  color: orange;
}
.jumb
{
	text-align: center;
	margin-top: 8em;
margin-bottom:5em;

}