/* Popup style */
.popup-box {
    display:flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
  
  .box {
    display: flex;
    justify-content: center;
    position: relative;
    
    height: auto;
    max-height: 70vh;
    
    background: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 20px;
    color:white;
    overflow: auto;
  }
  
  .close-icon {
    content: 'x';
    cursor: pointer;
    background: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid white;
    font-size: 20px;
  }
  .rating-star {
    direction: rtl;
    font-size: 40px;
    unicode-bidi: bidi-override;
    display: inline-block;
}
.rating-star input {
    opacity: 0;
    position: relative;
    left: -30px;
    z-index: 2;
    cursor: pointer;
}
.rating-star span.star:before {
    color: #777777;
}
.rating-star span.star {
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 2px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    
    z-index: 1;
}
.rating-star span {
    margin-left: -30px;
}
.rating-star span.star:before {
    color: #777777;
    content:"\f006";
}
.rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
    color: #ffd100;
    content:"\f005";
}
 
.selected-rating{
    color: #ffd100;
    font-weight: bold;
    font-size: 42px;
}
/* .feed{
    
    margin-left:3em;
    margin-bottom:10px;
    
} */